* {
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
  
.mainContent {
  background: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb) no-repeat center center; 
  background-size: cover;
  height: 870px;
  text-align: center;
}
 
.mainContent .container-inner {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;
  position: relative;
  top: 180px;
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: -1px;
}

